<div class="content-div">
  <nav class="navbar navbar-expand-lg border-bottom fixed_nav p-0 back_white">
    <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav d-md-flex justify-content-between w-50">
        <li class="nav-item active">
          <a routerLink="itinerary" routerLinkActive="active-link" class="nav-link pr-2 pt-0 pl-2 pb-2 " >Itninerary</a>
        </li>

        <li class="nav-item">
          <a class="nav-link pr-2 pt-0 pl-2 pb-2" routerLink="hotel" routerLinkActive="active-link">Hotel</a>
        </li>

        <li class="nav-item">
          <a class="nav-link pr-2 pt-0 pl-2 pb-2 active-link" routerLink="howToReach" routerLinkActive="active-link">How To Reach</a>
        </li>
      </ul>
    </div>
  </nav>
  <div style="margin-top: 20px;">

    <div class="container-fluid">
      
          <div class='row'>
            <div class='col-md-7 col-sm-12 col-xs-12 vert_line position-relative'>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-2 col-sm-12 p-0 text_resp">
                    <img src="../../../assets/images/hotel.svg">
                  </div>
                  <div class="col-md-10 col-sm-12 p-0">
                    <span class="contentpara">Hotel is 15.8 km from Sydney Airport and it will take 18 mins to
                      reach hotel.</span><br>
                    <span class="contentpara"> We recommend you to take a taxi from the airport.</span>
                  </div>
                </div>
              </div>
              
  
  
  
  
            </div>
            <div class="col-sm-12 col-md-5 col-xs-12">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-2 col-sm-12 p-0 text_resp">
                    <img src="../../../assets/images/location.svg" class="locImg">
                  </div>
                  <div class="col-md-10 col-sm-12 p-0 text-center">
                    <span class="contentpara">Address:</span><br>
                    <span class="contentpara">161,Elizabeth Street,2000 Australia</span>
                  </div>
                </div>
              </div>
              
              <!-- <div class='second-column' class="vl">
                
                <span class="contentpara"><strong>Address:</strong><br></span>
                <span class="contentpara" style="margin-left: 50px; "> 161,Elizabeth Street,2000 Australia&nbsp;</span>
              </div> -->
           
        </div>
      </div>
      <div class="w-100 mt-4">
        <img src="../../../assets/sites/Government.jpg" alt="Pineapple" class="w-100 img-fluid max_height">
  
      </div>
  
    </div>
  </div>
</div>